<h1>Categorias</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="float-left">Tabla de Usuarios</h6>
        <a class="btn btn-success text-white float-right" (click)="openModal(cateModal)">
            <i class="fas fa-user-plus"></i>
            Nueva categoria
        </a>
    </div>
    <div class="card-body">
        <div class="alert alert-success mt-3" *ngIf="status == 'success'">
            {{ message }}. 
        </div>
        <div class="alert alert-danger mt-3" *ngIf="status == 'error'">
            {{ message }}
            <ul>
              <li *ngFor="let e of errores"> {{ e }} </li>
            </ul>
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID Categoria</th>
                        <th>Categoria</th>
                        <th>Úĺtima actualización</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td> {{categoria.id}} </td>
                        <td> {{categoria.nombre_categoria}} </td>
                        <td>{{getRelativeTime(categoria.updated_at)}}</td>
                        <td>
                            <a class="btn btn-info btn-circle text-white" [routerLink]="['/categoria/subcat/'+ categoria.id]">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #cateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nueva categoria</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #cateForm="ngForm">
        <div class="modal-body">
            <div class="form-group" >
                <label for="name">Nombre de la categoria</label>
                <input type="text" class="form-control" name="cate.nombre_categoria" #cate.nombre_categoria="ngModel" [(ngModel)]="cate.nombre_categoria" required>
                <small *ngIf="!cate.nombre_categoria.valid && cate.nombre_categoria.touched" class="invalid-feedback d-block">El nombre es requerido</small>
            </div>
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="submit" class="btn btn-info" (click)="modal.close(cateModal)" [disabled]="cateForm.invalid">Guardar</button>
        </div>
    </form> 
</ng-template>