<h1>Editar Usuario</h1>
<div class="alert alert-success mt-3" *ngIf="status == 'success'">
    {{ message }}.
</div>
<div class="alert alert-danger mt-3" *ngIf="status == 'error'">
    {{ message }}.
    <ul>
        <li *ngFor="let e of errores"> {{ e }} </li>
      </ul>
</div>

<div class="card shadow mb-4 mt-4" *ngIf="user">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">Datos Personales</h6>
    </div>
    <div class="card-body">
        <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
            <div class="row my-4">
                <div class="col-md-4">
                    <label for="">Correo</label>
                    <h5 class="text-gray-600">{{user.email}}</h5>
                </div>
                <div class="col-md-4">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required>
                </div>
                <div class="col-md-4">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" required>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-4">
                    <label for="">RFC</label>
                    <input type="text" class="form-control" name="rfc" #rfc="ngModel" [(ngModel)]="user.rfc" >
                </div>
                <div class="col-md-8">
                    <label for="">Rol del usuario</label>
                    <div class="border py-1">
                        <div class="form-check form-check-inline col-md-5">
                            <input class="form-check-input" type="radio" name="role" #role="ngModel" [(ngModel)]="user.role" value="ROLE_anunciante">
                            <label class="form-check-label" for="inlineRadio1">Anunciante</label>
                        </div>
                        <div class="form-check form-check-inline col-md-5">
                            <input class="form-check-input" type="radio" name="role" #role="ngModel" [(ngModel)]="user.role" value="ROLE_admin">
                            <label class="form-check-label" for="inlineRadio2">Administrador</label>
                        </div>
                    </div>
                </div>      
            </div>
                <div class="form-group my-4">
                    <label for="name">Imágen de perfil</label>
                    <div class="form-group" *ngIf="user.image">
                        <img src="{{url + 'image/' + user.image}}" alt="Imágen de perfil" width="80px" height="80px">
                    </div>
                    <angular-file-uploader
                        [config]="afuConfig"  
                        (ApiResponse)="imageUpload($event)">
                    </angular-file-uploader>
                </div>
            
            <div class="form-row my-4">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" [disabled]="updateForm.invalid">
            </div>
        </form>
    </div>
</div>