<h3 *ngIf="estado">{{estado.nombre_estado}} </h3>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="float-left">Municipios</h6>
        <a class="btn btn-success text-white float-right" (click)="openModal(municipioModal)">
            <i class="fas fa-plus-circle"></i>
            Nuevo municipio
        </a>
    </div>
    <div class="card-body">
        <div class="alert alert-success mt-3" *ngIf="status == 'success'">
            {{ message }}. 
        </div>
        <div class="alert alert-danger mt-3" *ngIf="status == 'error'">
            {{ message }}
            <ul>
              <li *ngFor="let e of errores"> {{ e }} </li>
            </ul>
        </div>

        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID Municipio</th>
                        <th>Nombre</th>
                        <th>Última actualización</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let muni of municipio">
                        <td>{{muni.id}}</td>
                        <td>{{muni.nombre_municipio}} </td>
                        <td>{{getRelativeTime(muni.updated_at)}} </td>
                        <td>
                            <a class="btn btn-danger btn-circle text-white" (click)="open(suprimModal, muni.id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #municipioModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo municipio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #municipioForm="ngForm">
        <div class="modal-body">
            <div class="form-group" >
                <label for="name">Nombre del municipio</label>
                <input type="text" class="form-control" name="n_municipio.nombre_municipio" #n_municipio.nombre_municipio="ngModel" [(ngModel)]="n_municipio.nombre_municipio" required>
                <small *ngIf="!n_municipio.nombre_municipio.valid && n_municipio.nombre_municipio.touched" class="invalid-feedback d-block">El nombre es requerido</small>
            </div>
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="submit" class="btn btn-info" (click)="modal.close(municipioModal)" [disabled]="municipioForm.invalid">Guardar</button>
        </div>
    </form> 
</ng-template>

<ng-template #suprimModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Eliminar Municipio</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>¿Realmente deseas eliminar este municipio?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Aceptar</button>
    </div>
</ng-template>